body {
  background-color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #000000; }

.main {
  background-color: #ffffff; }

a {
  text-decoration: none;
  color: #000000; }
  a:hover {
    text-decoration: underline;
    color: #004E00; }

#wrap {
  margin: 0 auto;
  width: 800px; }

#header h1 {
  font-size: 28px;
  width: 800px; }

.success-btn, .failed-btn, .large-failed-btn, .small-failed-btn {
  padding: 15px;
  margin: 2px;
  color: white;
  background-color: green;
  border-radius: 6px;
  border: 1px solid #9f9; }

.failed-btn, .large-failed-btn, .small-failed-btn {
  background-color: red;
  border: 1px solid pink; }

.large-failed-btn {
  font-size: 36px; }

.small, .small-failed-btn {
  font-size: 8px;
  padding: 0;
  margin: 0; }

#header h1 {
  font-size: 28px;
  letter-spacing: -1px;
  padding: 15px 0 0 20px;
  color: #fff; }
  #header h1 a {
    color: #FFA500;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: -2px; }
    #header h1 a:hover {
      color: #eee; }
#header h2 {
  font-size: 19px;
  color: #008000;
  padding: 5px 0 0 20px;
  letter-spacing: -1px;
  font-weight: 100; }

#content {
  padding: 0 20px; }

.left {
  float: left;
  width: 570px;
  text-align: justify;
  padding-top: 20px; }
  .left h2 h3 {
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background: #008000; }
    .left h2 h3 a {
      text-decoration: none;
      color: #fff; }
      .left h2 h3 a:hover {
        color: #111; }
      @media screen and (max-width: 768px) {
        .left h2 h3 a {
          text-decoration: underline; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    .left h2 h3 a {
      color: blue; } }

    @media screen and (max-width: 768px) {
      .left h2 h3 {
        font-size: 12px; } }

.right {
  float: right;
  width: 180px;
  padding-top: 10px; }
  .right h2 {
    margin: 10px 0 0 0;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background: #008000;
    color: #fff;
    font-size: 13px;
    content: "Demo: Hello World!"; }
  .right ul h3 {
    padding: 10px 0 15px 20px;
    color: #008000; }
    .right ul h3 li a {
      text-decoration: none;
      font-weight: 600; }

.articles {
  padding: 10px; }

#footer {
  text-align: center;
  font-size: 11px;
  color: #aaa;
  margin-top: 40px;
  border-top: 1px dotted #aaa;
  padding-top: 10px;
  padding-bottom: 200px; }
  #footer a {
    color: #aaa; }
    #footer a:hover {
      color: #eee; }

p {
  font-size: 20px;
  margin: 10px;
  marginExample: 5px;
  padding: 20px;
  border-radius: 5px;
  content: true;
  width: 12px/3; }

.test {
  background-color: aqua;
  font-size: 20px;
  margin: 0px;
  content: "Hello world, My name is John,  225", 10px; }

body {
  font-size: 32px; }

#itemNoOne1 {
  font-size: 1; }

#itemNoOne2 {
  font-size: 2; }

#itemNoOne3 {
  font-size: 3; }

#itemNoOne4 {
  font-size: 4; }

#itemNoOne5 {
  font-size: 5; }

#itemNoOne6 {
  font-size: 6; }

#itemNoOne7 {
  font-size: 7; }

#itemNoOne8 {
  font-size: 8; }

#itemNoOne9 {
  font-size: 9; }

#itemNoOne10 {
  font-size: 10; }

#about {
  content: "This page is about me."; }

#contact {
  content: "Use this page to contact me."; }

#home {
  content: "This is the home page."; }

#itemNoTwo1 {
  font-size: 1px; }

#itemNoTwo2 {
  font-size: 2px; }

#itemNoTwo4 {
  font-size: 4px; }

#itemNoTwo8 {
  font-size: 8px; }

#itemNoTwo16 {
  font-size: 16px; }

#itemNoTwo32 {
  font-size: 32px; }

#itemNoTwo64 {
  font-size: 64px; }

.main {
  font-size: "big";
  font-weight: bold;
  padding: 7px 8px 9px;
  border: 3px solid black; }

div {
  font-size: 4px; }

/*# sourceMappingURL=style.css.map */
